<table class="table table-sm table-striped table-bordered table-hover">
  <thead class="thead">
    <tr class="table-dark">
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">24hr High</th>
      <th scope="col">24hr Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
  
</table>
<br>
<div class="contatiner">
  <div class="row">
    <% for x in @news["Data"] %>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="<%= x['imageurl'] %>" class="" alt="<%= x['source'] %>">
          <div class="card-body">
            <h5 class="card-title"><%= x['title'] %></h5>
            <p class="card-text"><%= x['body'] %></p>
            <a href="<%= x['url'] %>" class="btn btn-secondary">Read More...</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>